// user.scss

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30rem;

  &__title {
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 30rem;
    margin-block: 30rem;
    user-select: none;
  }
}
