// user.scss

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 30rem;

  &__title {
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 30rem;
    margin-block: 30rem;
    user-select: none;
  }
}

.edit-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 9.5rem;
  font-size: 15rem;
}
