// main.scss

@use "./sass/global/global.scss";
@use "./sass/global/mixins.scss";
@use "./sass/global/reset.scss";
@use "./sass/global/typography.scss";
@use "./sass/global/utils.scss";

@use "./sass/components/Features.scss";
@use "./sass/components/Footer.scss";
@use "./sass/components/Form.scss";
@use "./sass/components/Navbar.scss";

@use "./sass/pages/home.scss";
@use "./sass/pages/signIn.scss";
